.App {
  text-align: center;
}

article {
  border: 1px solid black;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

img {
  max-width: 800px;
  border-bottom: 1px solid black;
}

#load {
  margin-top: 40px;
  border: none;
  width: 137px;
}

button {
  margin-bottom: 15px;
  margin-left: 15px;
}